# Never commit secrets
wp-config.php
.env

# WordPress uploads
wp-content/uploads/

# Caches
wp-content/cache/
wp-content/wflogs/
wp-content/upgrade/
wp-content/backups/
wp-content/backup-db/

# Logs
*.log
php_errorlog

# OS files
.DS_Store
Thumbs.db

wp-content/plugins/calendar.v2/calendar.v5/debug_flight.log
debug_flight.log
wp-content/plugins/calendar.v4/debug_flight.log

# Ignore ALL debug logs everywhere
*debug*
*.log
